body {
  background-image: url(/images/books.jpg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  background-position-y: -90px;
  background-position-x: -7px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
}